html, body{
	margin: 0;
}

#wrapper{
	position: relative;
	width: 500px;
	margin: auto;
}

canvas{
	border: 1px dashed black;
	z-index: 1;
}

#score{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	font-family: "Calibri";
}

#winner{
	position: relative;
	width: 500px;
	height: 300px;
	margin: auto;
	z-index: 2;
	background-color: #000000;
	text-align: center;
	display: block;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	font-family: "Calibri";
}